<!DOCTYPE html>
<html ng-app="rss">
<head>

</head>
<body>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">RSS News Feed</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div ng-controller="rssFeedController">
            <table class="table table-striped table-bordered" ng-hide="feeds.length===0 || feeds === undefinedn|| feeds ===null">
                <thead>
                    <tr>
                        <td>Give Me Sport Latest...</td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in feeds">

                        <td>
                            <a ng-href="{{item.Guid}}">{{item.Title}}</a>

                        </td>
                    </tr>
                </tbody>

            </table>
            <table class="table table-striped table-bordered" ng-hide="breakingNews.length===0 || breakingNews===undefined || breakingNews===null">
                <thead>
                    <tr>
                        <td>Breaking News...</td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in breakingNews">

                        <td>
                            <a ng-href="{{item.Guid}}">{{item.Title}}</a>

                        </td>
                    </tr>
                </tbody>

            </table>

        </div>
    </div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>