<!DOCTYPE html>
<html ng-app >
<head>
    
</head>
<body >
    
    <div ng-controller="rssFeedControler">
        {{ model }}
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/angular")
    
</body>
</html>