<!DOCTYPE html>
<html ng-app="rss" >
<head>
    
</head>
<body >
    
<div ng-controller="rssFeedController">
    {{ model }}
</div>

    @Scripts.Render("~/bundles/angular")
 
    <script></script>   
</body>
</html>